* {
  margin: 0;
  padding: 0;
}
a{
    text-decoration: none;
}
p{
    font-family: 'Raleway', sans-serif;
}
.page-header{
    background-image: url(../img/header-screen.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.header-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 55px 0 0;
}
.title {
    padding: 82px 129px 506px 0;
}
.header-title {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 220px;
    margin: 0 auto;
    color: #fff;
    text-align: right;
    letter-spacing: 18px;
    line-height: 200px;
}
.header-text{
    font-size: 64px;
    margin: 0 auto;
    color: #fff;
    text-align: right;
    letter-spacing: 6px;
}
.logo{
    background: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 80px;
}
.btn-menu{
    border: none;
    background: transparent;
    width: 50px;
    height: 36px;
}
.navigation{
    background-color: #0d1013;
    opacity: 0.95;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    width: 100%;
    height: 100%;
    display: none;
}
.navigation>ul{
    list-style-type: none;
    position: absolute;
    top: 122px;
    left: 30%;
}
.navigation li{
    margin-bottom: 15px;
}
.nav-item{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    color: #626262;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    letter-spacing: 10px;
}
.nav-item:hover{
    text-decoration: underline;
    color: #fff;
}
.btn-close{
    background: none;
    border: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    position: absolute;
    top: 40px;
    right: 20%;
}
.btn-close span{
    display: block;
    text-transform: uppercase;
    font-size: 20px;

}
.page-text{
    text-align: center;
    padding: 44px 0 96px;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 60px;
}
h1 span{
    font-weight: 200;
}
.text1{
    font-weight: 600;
    font-size: 20px;
    margin: 32px 0 100px;
}
.text2, .text3{
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    max-width: 1007px;
    line-height: 30px;
}
.text2{
    margin: 0 auto 30px;
}
.text3{
    margin: 0 auto;
}
.wrap{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;  
}
.slider{
    background-color: #ffddd5;
}
.slider-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.text-padding {
    padding: 0 15px;
    margin: 0 auto;
    width: 447px;
}
.slider-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    margin: 0 0 50px 0;
    width: 506px;
}
.slider-author{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 36px;
}
.slider-text{
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 130px 0 141px;
}
.slider-img{
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}
.slider-img img {
    max-width: 100%;
    height: auto;
}
.flex-panel{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
.title-happy{
    margin: 120px 0 129px;
}
.item-panel{
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
    border: 1px solid #dcdcdc;
    padding: 46px 0 0 0;
}
.item-panel h2{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 34px 44px;
    text-transform: uppercase;
}
.item-mess{
    font-size: 20px;
    font-weight: 400;
    margin: 0 54px 42px 41px;
}
.item-author{
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    margin: 0 0 33px 46px;
}
.btn-more{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    border: 2px solid black;
    border-radius: 5px;
    background: none;
    margin: 88px auto 140px;
    padding: 16px 40px;
    display: block;
    text-align:  center;
    letter-spacing: 2px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.page-ci{
    background-image: url(../img/bg1.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.title-ci{
    color: #fff;
    text-align: center;
    width: 100%;
    max-width: 831px;
    margin: 0 auto;
    padding: 192px 0 65px 0;
}
.text-ci{
    color: #fff;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    padding-bottom: 166px;
}
.text-ci span{
    text-decoration: underline;
}
.page-posters{
    background-color: #eaeef1;
    padding: 0 0 85px 0;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "a b b"
    "a c d";
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.grid-a{
    grid-area: a;
    margin-right: 100px;
}
.grid-b{
    grid-area: b;
    margin-bottom: 50px;
}
.grid-c{
    margin-right: 80px;
    grid-area: c;
}
.grid-d{
    grid-area: d;
}
.grid-item{
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
.grid-panel{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: none;
}
.title-posters{
    padding: 90px 0 127px 0;
}
.poster2{
    width: auto;
    max-width: 740px;
    height: auto;
    max-height: 370px;
}
.poster1{
    width: auto;
    max-width: 560px;
    height: auto;
    max-height: 762px;
}
.poster3, .poster4{
    width: auto;
    max-width: 330px;
    height: auto;
    max-height: 340px;
}
.grid-panel ul{
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 38px 10px 10px;
}
.btn-buy{
    background-image: url(../img/btn-buy.png);
    background-repeat: no-repeat;
    width: 180px;
    height: 61px;
    background-position: 0px 20px;
    display: block;
}
.btn-buy:hover{
    background-position: 0px -59px;
}
.btn-share{
    background-image: url(../img/btn-share.png);
    background-repeat: no-repeat;
    width: 105px;
    height: 20px;
    background-position: 0px 0;
    display: block;
}
.btn-browse{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    border: 2px solid black;
    border-radius: 5px;
    background: none;
    margin: 101px auto 35px;
    padding: 16px 25px;
    display: block;
    text-align:  center;
    letter-spacing: 2px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.btn-more:hover, .btn-browse:hover, .btn-submit:hover{
    background-color: #000;
    color: #fff;
}
.flex-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.info-item h3{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 47px;
    letter-spacing: 2px;
}
.info-item ul{
    list-style-type: none;
    padding-left: 0
}
.info-item li, .info-item p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 15px;
    letter-spacing: 2.5px;
}
.info-item a{
    color: #000;
}
.info-item input{
    border: none;
    background-color: #eaeef1;
    height: 40px;
    width: 94%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 0 0px 0 18px;
    letter-spacing: 2px;
}
.btn-submit{
    display: block;
    margin: 20px 0 0 0;
    padding: 8px 24px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2px;
    border: 2px solid black;
    background: none;
    border-radius: 3px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.page-info {
    padding: 121px 15px 75px;
}
.flex-footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.info-item .space{
    margin-bottom: 49px;
}
.info-a{
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
}
.info-b{
    -ms-flex-preferred-size: 16%;
        flex-basis: 16%;
}
.info-c{
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
}
.info-d{
    -ms-flex-preferred-size: 24.5%;
        flex-basis: 24.5%;
}
.info-d h3 {
    margin-bottom: 25px;
}
.info-d p {
    margin-bottom: 32px;
}
.footer{
    background-color: #eaeef1;
    padding: 34px 15px 30px 15px;
}
.icon-list{
    padding: 0 15px;
}
.icon-list ul{
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.icons{
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
    display: block;
    margin-left: 25px;
}
.icon-fb{
    width: 11px;
    height: 24px;
    background-position: 0 0;
}
.icon-tw{
    width: 20px;
    height: 20px;
    background-position: -43px 0;
}
.icon-in{
    width: 24px;
    height: 25px;
    background-position: -88px 0;
}
.icon-yt{
    width: 24px;
    height: 20px;
    background-position: -134px 0;
}
.icon-gp{
    width: 28px;
    height: 20px;
    background-position: -188px 0;
}
.icon-pi{
    width: 18px;
    height: 29px;
    background-position: -237px 0;
}
.icon-ig{
    width: 24px;
    height: 25px;
    background-position: -280px 0;
}
.icon-em{
    width: 23px;
    height: 20px;
    background-position: -328px 0;
}
.icon-fb:hover{
    background-position: 0 -40px;
}
.icon-tw:hover{
    background-position: -43px -40px;
}
.icon-in:hover{
    background-position: -88px -40px;
}
.icon-yt:hover{
    background-position: -134px -40px;
}
.icon-gp:hover{
    background-position: -188px -40px;
}
.icon-pi:hover{
    background-position: -237px -40px;
}
.icon-ig:hover{
    background-position: -280px -40px;
}
.icon-em:hover{
    background-position: -328px -40px;
}
.footer-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2.5px;
}


/* Media */
@media (max-width: 1550px){
    .slider-img img {
        width: 792px;
    }
}
@media (max-width: 1500px){
    .slider-img img {
        width: 742px;
    }
}
@media (max-width: 1430px){
    .grid-a {
        margin-right: 15px;
    }
}
@media (max-width: 1320px){
    .poster2{
        max-width: 670px;
    }
    .poster1{
        max-width: 500px;
    }
    .poster3, .poster4{
        max-width: 280px;
    }
    .grid-b{
        margin-right: 104px;
    }
    .grid-d{
        margin-right: 73px;
    }
    .panel-c>ul, .panel-d>ul{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .panel-c>ul>li, .panel-d>ul>li{
        margin-bottom: 15px;
    }
}
@media (max-width: 1200px){
    .grid{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "b b" "a c" "a d";
        width: 70%;
        justify-items: stretch;
    }
    .poster1{
        max-width: 380px;
        text-align: right;
    }
    .grid-b{
        margin: 0 140px 0 0;
    }
    .grid-c, .grid-d{
        margin: 0 125px 0 0;
    }
    .poster3, .poster4{
        max-width: 250px;
    }
}
@media (max-width: 1130px){
    .slider-img{
        display: none;
    }
}
@media (max-width: 1100px){
    .grid-b{
        margin: 0 90px 0 0;
    }
    .grid-c, .grid-d{
        margin: 0 70px 0 0;
    }
}
@media (max-width: 1000px){
    .title{
        padding: 82px 0 350px 0;
    }
    .header-title, .header-text{
        text-align: center;
    }
    .navigation>ul{
        left: 30px;
    }
    .btn-close{
        right: 30px;
    }
    .grid-b{
        margin: 0;
    }
    .grid-c, .grid-d{
        margin: 0;
    }
}
@media (max-width: 900px){
    .grid{
        width: 76%;
    }
}
@media (max-width: 800px){
    .grid{
        width: 86%;
    }
}
@media (max-width: 750px){
    .grid{
        grid-template-columns: 1fr;
        grid-template-areas: "b" "a" "c" "d";
        justify-items: center;
        width: 100%;
    }
    .grid-a{
        margin: 0;
    }
    .poster3, .poster4, .poster1, .poster2 {
        max-width: 330px;
    }
    .panel-c>ul, .panel-d>ul {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    }
    .header-title{
        font-size: 190px;
    }
    .header-text{
        font-size: 52px;
    }
    .logo{
        width: 150px;
    }
}
@media (max-width: 700px){
    .header-title {
        font-size: 130px;
        line-height: 110px;
    }
    .header-text {
        font-size: 35px;
    }
    h1{
        font-size: 42px;
    }
    .text1, .text2, .text3, .item-mess, .item-author, .btn-more, .info-item h3, .btn-browse{
        font-size: 18px;
    }
    .slider-title, .slider-author{
        font-size: 32px;
    }
    .nav-item{
        font-size: 38px;
    }
    .item-panel h2{
        font-size: 25px;
    }
    .info-item li, .info-item p, .btn-submit, .footer-text{
        font-size: 14px;
    }
    .info-item input{
        font-size: 13px;
    }
    .flex-info{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .info-item{
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
        margin-bottom: 30px;
    }
    .flex-footer{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .footer-text{
        margin: 0 auto;
        text-align: center;
        margin-bottom: 30px;
    }
    .icon-list{
        margin: 0 auto;
        padding: 0;
    }
    .icon-list .icon-fb{
        margin: 0;
    }
    .btn-close span {
        display: none;
    }
    .text-ci{
        font-size: 16px;
    }
    .slider-text, .title-posters {
        padding: 50px 0;
    }
    .title-happy {
        margin: 50px 0;
    }
    .btn-more,  .btn-browse{
        margin: 50px auto;
    }
    .page-posters{
        padding: 0 0 50px 0;
    }
    .info-item h3{
        margin-bottom: 20px;
    }
}
@media (max-width: 600px){
    .item-panel{
        -ms-flex-preferred-size: 70%;
            flex-basis: 70%;
    }
    .slider-title, .slider-author{
        width: 447px;
        margin: 0 auto 30px;
    }
}
@media (max-width: 500px){
    .header-title {
        font-size: 100px;
        line-height: 75px;
    }
    .header-text {
        font-size: 25px;
    }
    h1{
        font-size: 36px;
    }
    .text1, .text2, .text3, .item-mess, .item-author, .btn-more, .info-item h3, .btn-browse{
        font-size: 14px;
    }
    .slider-title, .slider-author{
        font-size: 23px;
        width: 315px;
    }
    .nav-item{
        font-size: 24px;
    }
    .btn-close{
        font-size: 35px;
    }
    .item-panel h2{
        font-size: 20px;
    }
    .info-item li, .info-item p, .btn-submit, .footer-text{
        font-size: 12px;
    }
    .info-item input{
        font-size: 11px;
    }
    .info-item{
        -ms-flex-preferred-size: 60%;
            flex-basis: 60%;
        margin: 0 auto 30px;
    }
    .text-padding{
        width: 320px;
    }
    .icons{
        margin-left: 14px;
    }
}
@media (max-width: 400px){
    .header-title {
        font-size: 75px;
        line-height: 75px;
    }
    .header-text {
        font-size: 18px;
    }
    h1{
        font-size: 28px;
    }
    .text1, .text2, .text3, .item-mess, .item-author, .btn-more, .info-item h3, .btn-browse{
        font-size: 12px;
    }
    .slider-title, .slider-author{
        font-size: 20px;
    }
    .nav-item{
        font-size: 20px;
    }
    .btn-close{
        font-size: 35px;
    }
    .item-panel{
        padding: 15px 0 0 0;
    }
    .item-panel h2{
        font-size: 18px;
        margin-left: 15px;
    }
    .item-mess{
        margin: 0 15px;
    }
    .item-author{
        margin: 15px 15px;
    }
    .info-item li, .info-item p, .btn-submit, .footer-text{
        font-size: 12px;
    }
    .info-item input{
        font-size: 11px;
    }
    .text-ci {
        font-size: 14px;
    }
    .poster3, .poster4, .poster1, .poster2 {
        max-width: 300px;
    }
    .text-padding{
        padding: 0;
    }
}